* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #282726;
}
.layout {
    width: 90%;
    margin: 0 auto;
}
.moviesList{
    display: flex;
    flex-wrap: wrap;
}   
.pages{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em .5em;
}
.pages .page{
    font-size: 20px;
    color: #fff;
    background-color: #333333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: .2em;
    transition: .2s;
    box-shadow: 0px 0px 0px 0px #00808087;

}
.pages .page:hover{
    opacity: .5;
}
.pages .page:active{
    box-shadow: 0px 0px 0px 3px #00808087;
}
.pages .pageActive{
    box-shadow: 0px 0px 0px 3px #00808087;

}